# Remote PC
REMOTE_USER=""

#IPs for both servers (any order)
SERVER_1_IP=""
SERVER_2_IP=""

# Backup storage
BACKUP_ROOT=""

# Partitions
EFI_PARTITION=""
STANDBY_PARTITION=""
ACTIVE_PARTITION=""

# Mount point
MOUNTPOINT=""

# GRUB
STANDBY_ENTRY_TITLE=""
GRUB_DISK=""
