# Remote PC
REMOTE_USER="user"

#IPs for both servers (any order)
SERVER_1_IP="0.0.0.0"
SERVER_2_IP="0.0.0.0"

# Backup storage
BACKUP_ROOT="/path/to/backups/storage/dir"
SWAP_SIZE="2G" #Replace with your actual swapsize

# Partitions (all on the same disk as GRUB_DISK below)
EFI_PARTITION="/dev/sda1"
STANDBY_PARTITION="/dev/sda2"
ACTIVE_PARTITION="/dev/sda3"

# Mount point
MOUNTPOINT="/where/active/partition/will/be/mounted"

# GRUB
STANDBY_ENTRY_TITLE="Standby (p2)" #Title for the GRUB entry that boots the standby partition
GRUB_DISK="/dev/sda" #Whole disk
