# Remote PC
REMOTE_USER=""
REMOTE_IP="0.0.0.0"

# Backup storage
BACKUP_ROOT=""

# Partitions
EFI_PARTITION=""
STANDBY_PARTITION=""
ACTIVE_PARTITION=""

# Mount points
MOUNTPOINT=""

# GRUB
STANDBY_ENTRY_TITLE=""
